
body {
    font-size: 16px;
    line-height: 1.3rem;
    font-style: normal;
    font-family: 'Noto Sans', Sans-Serif, serif;
    font-weight: 500;
}

html, body, header {
    height: 100%;
}

#graphic-div{
    display:block;
    height: calc(100% - 4rem - 40px);
    width: 100%;
}

.menu-button{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem 0.0rem 0.5rem 0.5rem;
    text-align: center;
    line-height: 3rem;
    font-size: 2em;
}
